/*CSS goes here*/
body {
    /*Adding the Font*/
    font-family: "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    /*setting background color*/
    background-color: #ffffff;
}

.container {
    /*Change display type to flex and change flex direction vertically*/
    display: flex;
    flex-direction: column;

    background-color: rgb(255, 255, 255);
    /*To make the border of container rounded*/
    border-radius: 10px;
    /*Setting the width of the container*/
    width: 50%;
    /*Adds 150px margin from top and equal margin from sides (Centers the container)*/
    margin: 50px auto;
}

.timerButtons {
    /*Change display type to flex and center the div and it's children*/
    display: flex;
    justify-content: center;
    padding: 20px;
}

.tabs {
    /*Style the text by making it bold and bigger and align text to center of button*/
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    /*Change colour of button and it's text*/
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    /*Style the border and remove default black border and make it transparent*/
    border-radius: 6px;
    border-color: transparent;
    /*Add 10px margin from all sides and 15px padding on all sides*/
    margin: 10px;
    padding: 15px;
    box-shadow: rgb(235, 235, 235) 0px 6px 0px 0px;
}

#timerText {
    /*Change display type of timer text to flex and center the element in the container*/
    display: flex;
    justify-content: center;
    /*To make this text pop, give it a dark grey colour and make font size way bigger*/
    font-size: 250px;
    color: #5249498d;
    /*This margin property removes the excess margin from the top and bottom*/
    margin: 0 auto;
}

.controlBtns {
    /*Change the display type to flex and center it within the parent div*/
    display: flex;
    justify-content: center;
    /*Give 20px padding from all sides*/
    padding: 20px;
}

#toggleBtn, #resetBtn {
    /*Font styling*/
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    /*Change button colours*/
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    /*Style the border and remove default black border and make it transparent*/
    border-radius: 4px;
    border-color: transparent;
    /*Add a small bottom shadow in the startButton to make it look cool*/
    box-shadow: rgb(235, 235, 235) 0px 6px 0px 0px;
    /*10px margin from all sides and 15px padding from all sides to make buttons bigger*/
    margin: 10px;
    padding: 15px;
}

#resetBtn[disabled]
{
    background-color: #5249498d;
}